
body {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* موبایل‌های کوچک */
@media  (max-width: 480px) {
    .header_top{
        font-size: 8px !important;
    }
    .top_menu_link_home,
    .top_menu_link_contact ,
    .top_menu_link_About{
        display: none !important;
    }
    .top_menu_right_search{
        display: none !important;
    }
    .top_menu_title{
        display: none !important;
    }
    .parent_top_menu_right{
        width: 100% !important; 
     }
     .header_body_left{
        display: none !important;
    }
    .parent_main_header_body_right{
        width: 100% !important;
    }
    .header_body_right_image{
        overflow: hidden;
    }
    .parent_header_body_right{
        flex-direction: column-reverse;
        border-radius: 4px;
    }
    .header_body_right_image{
        overflow: hidden;
        
    }
    .img_header_body_phone {
        width: 173px !important;
        height: 94px !important;
    }
    .remove{
        display: none !important;
    }
    .footer_row ul li{
        font-size: 12px !important;
       }
       .footer_child{
        display: none !important;
       }
       .footer_row{
        justify-content: center;
        align-items: center;
       }
       .footer_child_last{
        width: 78% !important;
       }
  }
  
  @media (max-width:480px) {
  .img_basket{
    display: none !important;
  }
}  

@media (max-width:530px) {
    .table_basket{
        font-size: 13px ;
    }
}

  /* تبلت‌ها */
  @media (min-width: 481px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    .top_menu_right_search{
        display: none !important;
    }
    .top_menu_title{
        display: none !important;
    }
    .parent_top_menu_right{
       width: 100% !important; 
    }
    .header_body_left{
        display: none !important;
    }
    .parent_main_header_body_right{
        width: 100% !important;
    }
    .header_body_right_image{
        overflow: hidden;
    }
    .parent_header_body_right{
        padding-left: 19px !important;
        padding-right: 16px !important;
        border-radius: 5px;
    }
    .footer_row ul li{
        font-size: 17px !important;
       }
       .footer_child{
        display: none !important;
       }
       .footer_row{
        justify-content: center;
        align-items: center;
       }
       .footer_child_last{
        width: 78% !important;
       }
    
  }


  @media (max-width:992px) {
    

    .footer_list_socond_item3{
        display: none !important;
       }
  
   .footer_list_socond_item3{
    font-size: 8px !important;
   }
 }
 
  
  /* دسکتاپ‌های کوچک */
  @media (min-width: 769px) and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
    .top_menu_right_search{
        display: none !important;
    }
   .parent_header_body_right {
padding-left: 22px;
   }
   .category_box_5,
   .category_box_6{
    display: none !important;
   }
   .top_menu_title{
    display: none !important;
}
.parent_top_menu_right{
    width: 100% !important;
}

  }
  
  /* دسکتاپ‌های بزرگ */
  @media (min-width: 1025px) {
    body {
      font-size: 20px;
    }
  }

  



/* top_header */
.header_top {
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    font-family: 'Poppins';
    font-size: 13px;
    margin-bottom: 2rem;
}







/*header_navbar */
.header {
    border-bottom: 1.5px solid #9096A2;
    padding-bottom: 15px;
}

.parent_top_menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    align-items: center;
}

.parent_top_menu_right {
    display: flex;
    justify-content: space-between;

}

.top_menu_title {
    font-weight: bold;
    font-size: 18px;
}

.top_menu_link {
    padding-top: 3px;
    font-size: 15px;
}

.top_menu_link_list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.top_menu_link_item_link {
    text-decoration: none;
    color: inherit;
}

.top_menu_right_search {
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 255px;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;

}

.active {
    text-decoration: underline;
}


.top_menu_right {
    display: flex;
    align-items: center;
    padding-top: 0;
}

.header_top_input {
    outline: none;
    border: none;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    background-color: inherit;
}

.icon_heart_header {
    margin-right: 10px;
}
.icon_cart_plus{
    color: #000000;
    text-decoration: underline;
}
.parent_cart_plus{
    background-color: gray;
    padding: 2px 4px;
    border-radius: 4px
}




/*basket */
.img_basket{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.table_basket{
    width: 100%;
    table-layout: fixed;
    margin-top: 50px;
    min-height: 150px;
    position: relative;
}
.table_basket_row{
    width: 100%; 
  
   
   text-align: center;
}
.basket_total_price{
    position: absolute;
    bottom: 5px ;
    right: 5px;
}
























/*footer*/

.footer {
    margin-top: 50px;
    background-color: #000000;
    color: #ffff;
    font-family: 'Poppins';
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 70px;

}

.bold {

    font-size: 16px;
}

.footer_list_first_item3 {
    font-size: 12px;
}

.footer ul {
    line-height: 40px;
    padding: 0;
    margin: 0;
}

.footer_list_socond_item4 {
    font-size: 12px;
}

.footer_list_third_item3 {
    font-size: 12px;
}

.footer_list_last_item2 {
    font-size: 9px;
}

.footer_right_icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.footer img {
    width: 100%;
    height: 30px;
    object-fit: cover;
}

.img_barcode {
    height: 100% !important;
}

.parent_img_footer_rigth {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wraper_contact {
    margin-top: 15px !important;
}

.footer_list_third {
    padding-left: 34px !important;
}

.footer_list_first_item1 {
    font-family: 'Inter-Bold' !important;
}

.footer_list_socond_item2 {
    color: #000000;
}

.footer_list_fourth {
    padding-left: 18px !important;
}

.footer_list_socond_item3 {
    font-size: 13px !important;
}