@import url('./reset.css');
@import url('./fonts.css');

@media (max-width:455px) {
    .category_boxs{
        justify-content: center !important;
    }
}




/* موبایل‌های کوچک */
@media  (max-width: 480px) {
    .header_top{
        font-size: 8px !important;
    }
    .top_menu_link_home,
    .top_menu_link_contact ,
    .top_menu_link_About{
        display: none !important;
    }
    .top_menu_right_search{
        display: none !important;
    }
    .top_menu_title{
        display: none !important;
    }
    .parent_top_menu_right{
        width: 100% !important; 
     }
     .header_body_left{
        display: none !important;
    }
    .parent_main_header_body_right{
        width: 100% !important;
    }
    .header_body_right_image{
        overflow: hidden;
    }
    .parent_header_body_right{
        flex-direction: column-reverse;
        border-radius: 4px;
    }
    .header_body_right_image{
        overflow: hidden;
        
    }
    .img_header_body_phone {
        width: 173px !important;
        height: 94px !important;
    }
    .product_title_time_right{
        display: none !important;
    }
    .one_product_right {
        display: none !important;
       }
       .one_product_left_head{
        width: 216px !important;
        font-size: 18px !important;
       }
       .one_product_wraper {
        height: 255px !important;
       }
       .one_product_left_head::after {
       width: 90px !important;
       height: 19px !important;
       top: 63px !important;
       }
       .one_product_wraper {
        border-radius: 20px;
    }
    .Arrival_iamges_left{
        height: 300px !important;
    }

    .icon_item{
        margin-bottom: 50px !important;
    }





    .footer_row ul li{
        font-size: 12px !important;
       }
       .footer_child{
        display: none !important;
       }
       .footer_row{
        justify-content: center;
        align-items: center;
       }
       .footer_child_last{
        width: 78% !important;
       }
      
    

  }
  






  /* تبلت‌ها */
  @media (min-width: 481px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    .top_menu_right_search{
        display: none !important;
    }
    .top_menu_title{
        display: none !important;
    }
    .parent_top_menu_right{
       width: 100% !important; 
    }
    .header_body_left{
        display: none !important;
    }
    .parent_main_header_body_right{
        width: 100% !important;
    }
    .header_body_right_image{
        overflow: hidden;
    }
    .parent_header_body_right{
        padding-left: 19px !important;
        padding-right: 16px !important;
        border-radius: 5px;
    }
    .product_title_time_right{
        display: none !important;
    }
   .one_product_right {
    display: none !important;
   }
    .one_product_left_head {
        font-size: 23px !important;
    }
    
    .one_product_left_head::after {
    
        width: 110px !important;
        height: 25px !important;
    }
    .one_product_wraper{
        flex-direction: column;
        justify-content: center !important;
    }
    .one_product_left {
        width: 100% !important;
    }
    .one_product_wraper{
        padding-top: 0 !important;
    }
    .one_product_left_span {
        font-size: 38px !important;
    }
    .one_product_wraper {
        border-radius: 20px;
    }
    .parent_icons{
        flex-direction: column !important;
        align-items: center !important;
    }
    .icon_item{
        margin-bottom: 50px !important;
    }




    .footer_row ul li{
        font-size: 17px !important;
       }
       .footer_child{
        display: none !important;
       }
       .footer_row{
        justify-content: center;
        align-items: center;
       }
       .footer_child_last{
        width: 78% !important;
       }

  /*section footer*/
   


  }



 @media (max-width:992px) {
    
    .Arrival_right{
        display: none !important;
    }
    .Arrival_iamges_left{
        width: 100% !important;
        height: 400px !important;
        background-size: contain !important;
        border-radius: 5px;
    }




    
    .footer_list_socond_item3{
        display: none !important;
       }
  
   .footer_list_socond_item3{
    font-size: 8px !important;
   }
 }


  
  /* دسکتاپ‌های کوچک */
  @media (min-width: 769px) and (max-width: 1024px) {
    body {
      font-size: 18px;
    }
    .top_menu_right_search{
        display: none !important;
    }
   .parent_header_body_right {
padding-left: 22px;
   }
  
   .top_menu_title{
    display: none !important;
}
.parent_top_menu_right{
    width: 100% !important;
}
.product_title_time_right{
    display: none !important;
}
.one_product_right_img {
    width: 205px !important;
}
.one_product_left_head {
    font-size: 27px !important;
}

.one_product_left_head::after {

    width: 110px !important;
    height: 25px !important;
}
.one_product_wraper {
    border-radius: 7px;
}




  }






  
  /* دسکتاپ‌های بزرگ */
  @media (min-width: 1025px) {
    body {
      font-size: 20px;
    }
    .one_product_wraper {
        border-radius: 6px;
    }
  }
  



  @media (min-width:992px) and (max-width:1200px) {
    .category_box_game{
        display: none !important;
    }
  }





  @media screen and (max-width:1200px) {
    .box{
        margin-bottom: 80px;
    }
  }
  
  @media screen and (min-width:1200px) {
    .Arrival{
        margin-bottom: 500px !important;
    }
}


body {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}




/* top_header */
.header_top {
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    font-family: 'Poppins';
    font-size: 13px;
    margin-bottom: 2rem;
}







/*header_navbar */
.header {
    border-bottom: 1.5px solid #9096A2;
    padding-bottom: 15px;
}

.parent_top_menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    align-items: center;
}

.parent_top_menu_right {
    display: flex;
    justify-content: space-between;

}

.top_menu_title {
    font-weight: bold;
    font-size: 18px;
}

.top_menu_link {
    padding-top: 3px;
    font-size: 15px;
}

.top_menu_link_list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.top_menu_link_item_link {
    text-decoration: none;
    color: inherit;
}

.top_menu_right_search {
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding-right: 10px;
    padding-left: 10px;
    
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 5px;

}

.active {
    text-decoration: underline;
}


.top_menu_right {
    display: flex;
    align-items: center;
    padding-top: 0;
}

.header_top_input {
    outline: none;
    border: none;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 13px;
    background-color: inherit;
}
.parent_basket_heart_icon{
    display: flex;
    align-items: center;
}
.icon_heart_header {
    margin-right: 10px;
}






/*header_body */

.parent_header_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.header_body_left {

    border-right: 1.5px solid #9096A2;
}

.par_header_body_left {

    height: inherit;
}

.header_body_list {
    padding: 0;
    margin: 0;
    margin-top: 22px;
}

.header_body_list_item {
    margin-bottom: 10px;
}

.header_body_list_item:last-child {
    margin-bottom: 0;
}

.parent_main_header_body_right {
    padding-left: 15px;
}

.parent_header_body_right {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 22px;
    height: 296px;
    color: #ffff;

}

.img_header_body_apple {
    width: 50px;
    height: 50px;
    color: red;
}

.img_header_body_phone {
    width: 300px;
    height: 130px;

}

.header_body_right_texts_top {
    font-family: 'Poppins';
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: -10px;
}

.parent_header_body_right_texts_desc {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
}

.header_body_right_foter_link {
    color: #ffff;
    margin-right: 5px;
}





/*products */

.product {
    margin-top: 130px;
}

.product_wraper {
    padding-bottom: 15px;
    border-bottom: 1.5px solid #9096A2;
}

.product_header {
    margin-bottom: 12px;
}

.product_header_spna {
    color: #DB4444;
    font-weight: bold;
    font-family: 'Poppins';
    border-left: 8px solid #DB4444;
    padding-left: 8px;
}

.product_title_time {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product_title_time_span {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter-Bold' !important;
}

.product_title_time_right {
    display: flex;
    align-items: center;

}

.product_hours {
    margin-left: -193px;
}

.product_minutes {
    margin-left: -193px;
}

.product_seconds {
    margin-left: -193px;
}

.product_title_time_number {
    font-weight: bold;
    font-size: 17px;
}


.product_boxs {
    display: flex;
    align-items: center;
}

.box {
    padding-left: 20px;
    padding-right: 20px;
}

.box_section_top {
    position: relative;
    background-color: #F5F5F5;
    width: 100%;
    height: 210px;
    border-radius: 10px;
}

.box_section_top:hover {
    .button_add_cart {
        display: block;
    }
}

.box_section_top_takh {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #ffff;
    padding: 3px 4px;
    background-color: #DB4444;
    border-radius: 6px;
}

.icon_procuct_heart {
    position: absolute;
    top: 12px;
    right: 15px;
}

.icon_procuct_eye {
    position: absolute;
    top: 38px;
    right: 15px;
}

.box_section_top_img {
    width: 120px;
    height: 120px;
    position: absolute;
    display: block;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.add_product {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

}

.button_add_cart {
    width: 100%;
    color: #ffff;
    background-color: #000000;
    border: none;
    outline: none;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    display: none;
}

.box_product_desc {
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 6px;
}

.box_product_price_main {
    color: #DB4444;
}

.box_product_price_delete {
    color: #000000;
}

.box_product_score {
    display: flex;
    margin-top: 5px;
}

.box_product_score_star {
    margin-right: 8px;
}

.product_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button_product {
    padding: 6px 28px;
    background-color: #DB4444;
    color: #ffff;
    border: none;
    outline: none;
    border-radius: 6px;
}





/* category */

.category {
    margin-top: 130px;
}

.category_header {
    margin-bottom: 12px;
}

.category_header_spna {
    color: #DB4444;
    font-weight: bold;
    font-family: 'Poppins';
    border-left: 8px solid #DB4444;
    padding-left: 8px;
}

.category_title {
    display: block;
    margin-bottom: 0;
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter-Bold';
}

.category_boxs {
    display: flex;
    align-items: center;
    padding-top: 30px;
    justify-content: space-between;
    border-bottom: 1.5px solid #9096A2;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.category_box {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 125px !important;
    width: 135px !important;
    border: 1.5px solid #9096A2;
    margin: 30px;
   background-color: #F5F5F5;
    border-radius: 5px;
}

.category_box:hover {
    background-color: #3c9d92;
}

.category_icon {
    margin-bottom: 20px;
    width: 25px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
}

.category_desc {
    margin-top: -18px;
}






/* one product*/

.one_product_wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 400px;
    padding: 30px 45px;
    color: #ffff;
    padding-top: 0px !important;
    margin-top: 130px;
}

.one_product_left_span {
    margin-bottom: 25px;
    display: block;
    color: #00FF66 !important;
    font-family: 'Poppins';
}

.one_product_left_head {
    position: relative;
    width: 360px;
    font-family: 'Inter-Bold';
}

.one_product_left_head::after {
    content: '';
    width: 125px;
    height: 32px;
    position: absolute;
    background-color: #00FF66;
    top: 125px;
    left: 0;
    border-radius: 5px;
}

.one_product_right_img {
    width: 300px;
    height: 130px;
    object-fit: cover;
}








/*Arrival*/
.Arrival{
    margin-bottom: 320px;
}
.Arrival_wraper{
    margin-top: 130px;
    height: 400px;
}
.Arrival_header {
    margin-bottom: 12px;
}

.Arrival_header_spna {
    color: #DB4444;
    font-weight: bold;
    font-family: 'Poppins';
    border-left: 8px solid #DB4444;
    padding-left: 8px;
}
.Arrival_title {
    display: block;
    margin-bottom: 0;
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Inter-Bold';
}
.Arrival_iamges{
  height: 500px;
  margin-top: 45px !important;
}
.Arrival_iamges_left{
    background-color: #000000;
    background-image: url("../image/Arrival_left/0c1817d3afa266b3c9f8c81ff0ed4428.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    color: #ffff;
    position: relative;
}
.depend_Arrival_images_left {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 210px;
}
.depend_Arrival_images_left_title{
    font-family: 'Inter-Bold';
}
.depend_Arrival_images_left_desc{
    font-family: 'Poppins';
}
.depend_Arrival_images_left_link{
  color: #ffff;
  font-family: 'Poppins';
}
.wraper_Arrival_right_bottom{
    display: flex;
}

.Arrival_right{
    margin-left: 0px !important;
}
.Arrival_right_top{
   padding-bottom: 12px !important;
   position: relative;
}
.img_Arrival_right_top{
    width: 100%;
    height: 100%;
    z-index: -100;
}
.deepnd_Arrival_right_top{
    position: absolute;
    z-index: 100;
    left: 30px;
    bottom: -67px;
    color: #ffff;
    width: 200px;
    height: 200px;
    line-height: 18px;
}

.link_deepnd_Arrival_right_top{
    color: #ffff;
}

.wraper_Arrival_right_bottom{
    height: 100%;
    gap: 12px;
    overflow: hidden;
}

.Arrival_right_bottom_left{
   position: relative;
   background-color: #000000;
}
.img_Arrival_right_bottom_left{
    width: 100%;
    height: 100%;
    z-index: -100;
}
.depend_Arrival_right_bottom_left{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffff;
    line-height: 12px;
    width: 150px;
    height: 116px;
}
.link_deepnd_Arrival_right_right_botoom_left{
    color: #ffff;
}
.img_Arrival_right_bottom_right{
    width: 100%;
    height: 100%;
    z-index: -100;
}
.Arrival_right_bottom_right{
    background-color: #000000;
    position: relative;
}
.depend_Arrival_right_bottom_right{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffff;
    line-height: 15px;
    width: 150px;
    height: 116px;
}
.link_deepnd_Arrival_right_right_botoom_right{
    color: #ffff;
}










/* */
.iconso{
    margin-top: 50px;

}
.parent_icons{
    display: flex;
    justify-content: space-around;
}
.icon_item{
    text-align: center;
    
}
.icon_item_top{
   width: 100%;
}
.icon_truck ,.icon_headphones ,.icon_ils{
    padding: 7px;
    background-color: #9096A2;
    border-radius: 100%;
}
.icon_item h2{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    margin-top: 14px;
}
.icon_item p{
    font-family: 'Poppins';
    font-size: 13px;
}









/* footer*/
.footer{
    margin-top: 130px;
    background-color: #000000;
    color: #ffff;
    font-family: 'Poppins';
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 70px;
}
.footer_row{
    flex-wrap: wrap;
}
.bold{
    
    font-size: 16px;
}
.footer_list_first_item3{
    font-size: 12px;
}
.footer ul{
    line-height: 40px;
    padding: 0;
    margin: 0;
}
.footer_list_socond_item4{
    font-size: 12px;
}
.footer_list_third_item3{
    font-size: 12px;
}
.footer_list_last_item2{
    font-size: 9px;
}
.footer_right_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
.footer img {
    width: 100%;
    height: 30px;
    object-fit: cover;
}
.img_barcode{
    height: 100% !important;
}
.parent_img_footer_rigth{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.wraper_contact{
    margin-top: 15px !important;
}
.footer_list_third{
    padding-left: 34px !important;
}
.footer_list_first_item1{
    font-family: 'Inter-Bold' !important; 
}
.footer_list_socond_item2{
    color: #000000;
}
.footer_list_fourth{
    padding-left: 18px !important;
}
.footer_list_socond_item3{
    font-size: 13px !important;
}